@import '../../../styles/settings.scss';

/* SETTINGS FOR ALL MODES*/
[class*="carouselContainer-"] {
  padding: clamp(-25px, calc(-25px + 10vw), 10px);
  margin: clamp(-25px, calc(-25px + 10vw), 100px);
  width: clamp(120px, calc(120px + 45vw), 850px);

    img {
      width: 100%;
      object-fit: fill;
    }
}

/* SETTINGS FOR LIGHT MODE */
.carouselContainer-light {
  border: 3px solid $carousel-light-border-color;
  @include concavedDiv($carousel-light-inset-shadow, $carousel-light-shadow);
}

/* SETTINGS FOR DARK MODE */
.carouselContainer-dark {
  border: 3px solid $carousel-dark-border-color;
  @include concavedDiv($carousel-dark-inset-shadow, $carousel-dark-shadow);
}
