@import '../../../styles/global.scss';

/* SETTINGS FOR ALL MODES*/
[class*="aboutContainer-"] {
  z-index: 1;
  min-height: 100%;
  width: 100%;
  transition: ease-in all .5s;
  padding: clamp(5px, calc(5px + 1vw), 25px);
  padding-top: 50px;

  .aboutTitle {
    text-align: center;
    padding-bottom: 15px;
    font-size: $about-title-font-size;
  }

  .aboutSubtitle1, .aboutSubtitle2 {
    text-align: right;
    padding: 5px;
    font-size: $about-subtitle-font-size;
  }

  .aboutSubtitle2 {
    text-align: left;
  }

  .aboutBox {
    transition: all .5s ease-in;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 25px;

    .sectionContainer {
      padding: clamp(-5px, calc(-5px + 2vw), 20px);
      margin: clamp(-5px, calc(-5px + 2vw), 35px);
      margin-bottom: 45px;

      .sectionTitle {
        text-align: center;
        padding: 5px;
        font-size: $about-section-title-font-size;
      }

      .sectionDescription {
        text-align: center;
        padding: 5px;
        font-size: $about-section-description-font-size;
      }

      .sectionBox {
        margin: 15px;

        .subsectionContainer {
          min-width: 280px;
          margin: 50px 0;
          padding: clamp(10px, calc(10px + .5vw), 20px);
        }

        .subsectionDate, .subsectionName {
          text-align: justify;
          padding: clamp(5px, calc(5px + .5vw), 15px);
          font-size: $about-subsection-date-font-size;
        }

        .subsectionName {
          font-size: $about-subsection-title-font-size;
        }

        .subsectionDescripion {
          font-size: $about-subsection-description-font-size;
          text-align: justify;
          padding: 5px;
        }

        .keyPointsContainer {
          width: 95%;
          margin: 15px auto;
          display: flex;
          flex-flow: column nowrap;

          .keyPointsTitle {
            margin-top: clamp(.1px, calc(.1px + 5vw), 80px);
            margin-bottom: 25px;
            font-size: $about-key-points-title-font-size;
            text-align: center;
            padding: 15px;
          }

          .keyPoint {
            width: calc(max(50%, 250px  ));
            font-size: $about-key-points-content-font-size;
            text-align: center;
            margin: 25px 0 25px auto;
            padding: 35px 20px;
            min-height: 110px;

            &:nth-child(even) {
              margin: 0 auto 0 0;
            }
          }
        }
      }
    }
  }
}

/* SETTINGS FOR LIGHT MODE */
.aboutContainer-light {
  .aboutTitle, .sectionTitle, .subsectionDate, .subsectionName, .keyPointsTitle {
    @include concavedTextLight($about-title-font-family, $about-light-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextLight($about-title-font-family, $about-light-blend-color);
      text-shadow: $about-light-text-shadow;
    }

    &[class*="showWhole"] {
      color: $about-light-font-color;
    }
  }

  .aboutSubtitle1, .aboutSubtitle2, .sectionDescription, .subsectionDescripion, .keyPoint {
    opacity: .2;
    @include concavedTextLight($about-title-font-family, $about-light-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextLight($about-title-font-family, $about-light-blend-color);
      text-shadow: $about-light-text-shadow;
    }

    &[class*="showWhole"] {
      color: $about-dark-font-color;
    }
  }

  .sectionContainer {
    @include concavedDiv($about-light-inset-shadow, $about-light-shadow);

    .subsectionContainer {
      @include concavedDiv($about-light-inset-shadow, $about-light-shadow);
    }

    .subsectionDate[class*="showWhole"] {
      color: $about-dark-font-color;
    }

    .keyPoint {
      opacity: 1;

      &[class*="showOutline"] {
        @include concavedDiv($about-light-inset-shadow, $about-light-shadow);
      }
    }
  }
}

/* SETTINGS FOR DARK MODE */
.aboutContainer-dark {
  .aboutTitle, .sectionTitle, .subsectionDate, .subsectionName, .keyPointsTitle {
    @include concavedTextDark($about-title-font-family, $about-dark-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextLight($about-title-font-family, $about-dark-blend-color);
      text-shadow: $about-dark-text-shadow;
    }

    &[class*="showWhole"] {
      color: $about-dark-font-color;
    }
  }

  .aboutSubtitle1, .aboutSubtitle2, .sectionDescription, .subsectionDescripion, .keyPoint {
    opacity: .2;
    @include concavedTextLight($about-title-font-family, $about-dark-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextLight($about-title-font-family, $about-dark-blend-color);
      text-shadow: $about-dark-text-shadow;
    }

    &[class*="showWhole"] {
      color: $about-light-font-color;
    }
  }

  .sectionContainer {
    @include concavedDiv($about-dark-inset-shadow, $about-dark-shadow);

    .subsectionContainer {
      @include concavedDiv($about-dark-inset-shadow, $about-dark-shadow);
    }

    .subsectionDate[class*="showWhole"] {
      color: $about-light-font-color;
    }

    .keyPoint {
      opacity: 1;

      &[class*="showOutline"] {
        @include concavedDiv($about-dark-inset-shadow, $about-dark-shadow);
      }
    }
  }
}
