@import '../../../styles/global.scss';

/* SETTINGS FOR ALL MODES*/
[class*="aboutContainer-"] {
  .toFaq {
    margin: clamp(5px, calc(5px + 3vh), 50px) auto;
    font-size: $faq-font-size;
    transition: ease-in all .5s;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include fade-in('box', 1);
    width: 50%;

    i {
      font-size: $faq-icon-size;
    }
  }

  .aboutBox {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .aboutElement {
      margin: clamp(.1px, calc(.1px + 10vw), 180px) clamp(15px, calc(15px + 5vw), 10px);
      padding: clamp(.1px, calc(.1px + 1vw), 20px);
      min-height: calc(max(350px, 30vh));

      .elementTitle {
        padding: clamp(.1px, calc(.1px + 4vw), 40px);
        font-size: $faq-title-font-size;
      }

      .elementSubtitle {
        text-align: justify;
        max-width: calc(max(50%, 300px));
        padding: clamp(10px, calc(10px + 1vw), 20px);
        font-size: $faq-subtitle-font-size;
      }

      .elementContent {
        display: flex;
        flex-flow: column wrap;
        gap: 50px;
        text-align: justify;
        padding-top: clamp(15px, calc(15px + 10vw), 50px);
        font-size: $faq-content-font-size;
        max-width: calc(max(70%, 300px));
        margin: 10px 0 10px auto;


        .elementImage {
          position: relative;
          width: clamp(220px, calc(220px + 10vw), 450px);
          height:clamp(330px, calc(330px + 10vw), 675px);
          margin-bottom: 75px;

          img {
            opacity: 0;
            position: absolute;
            width: 100%;
            object-fit: fill;
            transition: all .25s ease-in;

            &[class*="showOutline"] {
              opacity: .1;
            }

            &[class*="showWhole"] {
              opacity: 1;
            }
          }
        }
      }
    }

    .aboutElement:nth-child(even) {
      .elementTitle {
        text-align: right;
        margin: 0 0 0 auto;
      }

      .elementSubtitle {
        margin: 0 0 0 auto;
      }

      .elementContent {
        margin: 0 auto 0 0;
      }
    }

    .redirect {
      margin: clamp(-20px, calc(-20px + 10vw), 140px);
      padding: clamp(-20px, calc(-20px + 10vw), 150px);
      padding-top: clamp(120px, calc(120px + 10vw), 150px);
      width: calc(max(75%, 250px));
      font-size: $faq-redirect-font-size;
      line-height: 2;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;

      .redirectButton {
        margin: 20px;
        text-align: right;
        font-size: $faq-button-font-size;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* SETTINGS FOR LIGHT MODE */
.aboutContainer-light {
  .toFaq, .elementContent {
    @include concavedTextLight($faq-title-font-family, $faq-light-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextLight($faq-title-font-family, $faq-light-blend-color);
      text-shadow: $faq-light-text-shadow;
    }

    &[class*="showWhole"] {
      @include charsAnimation (lightIcon, $faq-light-font-color, $faq-light-blend-color, 1);
      color: $faq-light-font-color;
    }
  }

  .elementTitle, .elementSubtitle {
    @include concavedTextLight($faq-title-font-family, $faq-light-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextLight($faq-title-font-family, $faq-light-blend-color);
      text-shadow: $faq-light-text-shadow;
    }

    &[class*="showWhole"] {
      color: $faq-light-font-color;
    }
  }

  .elementContent {
    font-family: $faq-content-font-family;

    &[class*="showOutline"] {
      font-family: $faq-content-font-family;
    }

    &[class*="showWhole"] {
      font-family: $faq-content-font-family;
    }
  }

  .elementSubtitle {
    opacity: .2;

    &[class*="showWhole"] {
      color: $faq-dark-font-color;
    }
  }

  .redirect, .redirectButton {
    @include concavedTextLight($faq-title-font-family, $faq-light-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &:hover {
      text-shadow: none;
    }

    &[class*="showOutline"] {
      @include concavedTextLight($faq-title-font-family, $faq-light-blend-color);
      text-shadow: $faq-light-text-shadow;
    }

    &[class*="showWhole"] {
      @include concavedTextLight($faq-title-font-family, $faq-light-font-color);

      .redirectButton {
        @include concavedTextLight($faq-title-font-family, $button-dark-font-color);

        &:hover {
          color: $faq-light-blend-color;
        }
      }
    }
  }
}

/* SETTINGS FOR DARK MODE */
.aboutContainer-dark {
  .toFaq, .elementContent {
    @include concavedTextDark($faq-title-font-family, $faq-dark-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextDark($faq-title-font-family, $faq-dark-blend-color);
      text-shadow: $faq-dark-text-shadow;
    }

    &[class*="showWhole"] {
      @include charsAnimation (darkIcon, $loading-font-dark-color, $faq-dark-blend-color, 1);
      color: $faq-dark-font-color;
    }
  }

  .elementTitle, .elementSubtitle {
    @include concavedTextDark($faq-title-font-family, $faq-dark-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &[class*="showOutline"] {
      @include concavedTextDark($faq-title-font-family, $faq-dark-blend-color);
      text-shadow: $faq-dark-text-shadow;
    }

    &[class*="showWhole"] {
      color: $faq-dark-font-color;
    }
  }

  .elementContent {
    font-family: $faq-content-font-family;

    &[class*="showOutline"] {
      font-family: $faq-content-font-family;
    }

    &[class*="showWhole"] {
      font-family: $faq-content-font-family;
    }
  }

  .elementSubtitle {
    opacity: .8;

    &[class*="showWhole"] {
      color: $faq-light-font-color;
    }
  }

  .redirect, .redirectButton {
    @include concavedTextLight($faq-title-font-family, $faq-dark-blend-color);
    text-shadow: none;
    transition: all .25s ease-in;

    &:hover {
      text-shadow: none;
    }

    &[class*="showOutline"] {
      @include concavedTextLight($faq-title-font-family, $faq-dark-blend-color);
      text-shadow: $faq-light-text-shadow;
    }

    &[class*="showWhole"] {
      @include concavedTextLight($faq-title-font-family, $faq-dark-font-color);

      .redirectButton {
        @include concavedTextLight($faq-title-font-family, $faq-light-font-color);

        &:hover {
          color: $faq-dark-blend-color;
        }
      }
    }
  }
}
