@import '../../../styles/global.scss';

/* SETTINGS FOR ALL MODES*/
[class*="listContainer-"] {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .listTitle {
    text-align: center;
    padding: 25px;
    font-size: $list-title-font-size;
    max-width: 100%;
  }

  .list {
    padding: 0;
    width: calc(min(100%, 800px));
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    max-height: calc(max(350px, 50vh));

    .listElement {
      margin: clamp(.1px, calc(.1px + 1vw),5px);
      padding-top: clamp(6px, calc(6px + 3vw), 20px);
      padding-bottom: clamp(6px, calc(6px + 3vw), 20px);
      font-size: $list-element-font-size;
    }
  }
}

/* SETTINGS FOR LIGHT MODE */
.listContainer-light {
  .listTitle {
    @include concavedTextLight($list-element-font-family, $list-light-font-color);
    text-shadow: $list-text-shadow;
  }

  .list{
    .listElement {
      @include concavedTextLight($list-element-font-family, $list-dark-font-color);
      @include concavedDiv($header-light-inset-shadow, $header-light-shadow);
      text-shadow: $list-text-shadow;
    }
  }
}

/* SETTINGS FOR DARK MODE */
.listContainer-dark {
  .listTitle {
    @include concavedTextDark($list-element-font-family, $list-dark-font-color);
    text-shadow: $list-text-shadow;
  }

  .list{
    .listElement {
      @include concavedTextDark($list-element-font-family, $list-light-font-color);
      @include concavedDiv($button-dark-inset-shadow, $button-dark-shadow);
      text-shadow: $list-text-shadow;
    }
  }
}
