@import '../../../styles/global.scss';

/* SETTINGS FOR ALL MODES*/
[class*="contactContainer-"] {
  z-index: 1;
  min-height: 100%;
  width: 100%;
  transition: ease-in all .5s;
  padding: clamp(5px, calc(5px + 1vw), 25px);
  padding-top: 50px;

  .contactTitle {
    text-align: center;
    padding-bottom: 15px;
    font-size: $contact-title-font-size;
  }

  .contactSubtitle {
    text-align: left;
    padding: 5px;
    font-size: $contact-subtitle-font-size;
  }

  .contactBox {
    transition: all .5s ease-in;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: clamp(5px, calc(5px + 1vw), 25px);

    .sectionContainer {
      text-align: center;
      margin: 15px;
      padding: 25px;
      flex: 1;
      min-height: 260px; //
      min-width: 250px;

      .sectionDescription {
        text-align: justify;
        font-size: 24px;
        margin-bottom: 6vh;
      }

      .link, .copyable {
        text-decoration: none;
        transition: opacity .5s ease-in;

        i {
          font-size: $contact-icon-size;
        }
      }

      .copyable {
        font-size: $contact-copyable-font-size;
        display: flex;
        flex-flow: column nowrap;

        & * {
          pointer-events: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* SETTINGS FOR LIGHT MODE */
.contactContainer-light {
  .contactTitle {
    @include concavedTextLight($contact-title-font-size, $contact-light-font-color);
    text-shadow: $contact-light-text-shadow;
  }

  .contactSubtitle, .sectionDescription {
    opacity: .2;
    @include concavedTextLight($contact-title-font-size, $contact-dark-font-color);
    text-shadow: $contact-light-text-shadow;
  }

  .contactBox {
    .sectionContainer {
      @include concavedDiv($contact-light-inset-shadow, $contact-light-shadow);

      .sectionDescription {
        opacity: 1;
      }

      .link a {
        @include concavedTextLight($contact-title-font-size, $contact-light-font-color);
      }


      .copyable {
        @include concavedTextLight($contact-title-font-size, $contact-light-font-color);
      }
    }
  }
}

/* SETTINGS FOR DARK MODE */
.contactContainer-dark {
  .contactTitle {
    @include concavedTextDark($contact-title-font-size, $contact-dark-font-color);
    text-shadow: $contact-dark-text-shadow;
  }

  .contactSubtitle, .sectionDescription {
    opacity: .7;
    @include concavedTextLight($contact-title-font-size, $contact-light-font-color);
    text-shadow: $contact-light-text-shadow;
  }

  .contactBox {
    .sectionContainer {
      @include concavedDiv($contact-dark-inset-shadow, $contact-dark-shadow);

      .sectionDescription {
        opacity: 1;
      }

      .link a {
        @include concavedTextDark($contact-title-font-size, $contact-dark-font-color);
      }

      .copyable {
        @include concavedTextDark($contact-title-font-size, $contact-dark-font-color);
      }
    }
  }
}
