@import '../../../styles/global.scss';

/* SETTINGS FOR ALL MODES*/
[class*="homepageContainer-"] {
  z-index: 1;
  position: absolute;
  min-height: 100%;
  width: 100%;
  transition: ease-in all .5s;
  padding: 10px;

  .homepageButtons {
    max-width: 110px;
    margin: 0 0 0 auto;

    * > * {
      z-index: 10;
    }
  }

  .homepageBox {
    z-index: 1;
    width: 100%;
    margin-top: clamp(50px, calc(50px + 5vw), 120px);
    position: relative;
    top: -120px;
    display: flex;
    flex-flow: column nowrap;

    .homepageTitle {
      margin-top: clamp(50px, calc(50px + 5vw), 120px);
      line-height: 1.2;
      font-size: $homepage-title-font-size;
      font-weight: bold;
      transition: ease-in all .5s;
      display: flex;
      flex-flow: row wrap;
    }

    .homepageSubtitle {
      max-width: 100%;
      font-size: $homepage-subtitle-font-size;
      transition: ease-in all .5s;

      .highlight, .toPortfolioLink {
        display: inline-block;
        font-size: $homepage-highlight-font-size;
        margin-top: 15px;
        margin-left: clamp(.1px, calc(.1px + 2vw), 50px);
      }
    }
    .toPortfolio {
      align-self: flex-end;
      padding: 50px 0 0 0;
      margin: clamp(.1px, calc(.1px + 5vw), 110px) 0 0 auto;
      font-size: $homepage-redirect-font-size;
      transition: ease-in all .5s;
      @include fade-in('box', 1);
    }

    [class*="hide"] {
      opacity: 0;
    }
  }
}

/* SETTINGS FOR LIGHT MODE */
.homepageContainer-light {
  background: $homepage-light-background-color;

  .homepageTitle {
    @include concavedTextLight($homepage-font-family, $homepage-light-font-color);
    text-shadow: $homepage-light-text-shadow;
  }

  .homepageSubtitle, .toPortfolio {
    @include concavedTextLight($homepage-font-family, $homepage-light-font-color);
    text-shadow: $homepage-light-text-shadow;

    .highlight, .toPortfolioLink {
      transition: all 0.5s ease-in;
      color: $homepage-dark-font-color;
      text-shadow: $homepage-dark-text-shadow;
    }

    .toPortfolioLink:hover {
      color: $homepage-light-blend-color;
    }
  }
}

/* SETTINGS FOR DARK MODE */
.homepageContainer-dark {
  background: $homepage-dark-background-color;

  .homepageTitle {
    @include concavedTextDark($homepage-font-family, $homepage-dark-font-color);
    text-shadow: $homepage-dark-text-shadow;
  }

  .homepageSubtitle, .toPortfolio {
    @include concavedTextDark($homepage-font-family, $homepage-dark-font-color);
    text-shadow: $homepage-dark-text-shadow;

    .highlight, .toPortfolioLink {
      transition: all 0.5s ease-in;
      color: $homepage-light-font-color;
      text-shadow: $homepage-light-text-shadow;
    }

    .toPortfolioLink:hover {
      color: $homepage-dark-blend-color;
    }
  }
}
