@import '../../../styles/global.scss';

[class*="homepageContainer-"] {
  z-index: 1;
  position: absolute;
  min-height: 100%;
  width: 100%;
  transition: ease-in all .5s;
  padding: 10px;

  .homepageButtons {
    max-width: 110px;
    margin: 0 0 0 auto;

    * > * {
      z-index: 10;
    }
  }

  .homepageBox {
    z-index: 1;
    width: 100%;
    // margin: clamp(0px, calc(0px + 5vw), 70px);
    margin-top: clamp(50px, calc(50px + 5vw), 120px);
    position: relative;
    top: -120px;
    display: flex;
    flex-flow: column nowrap;

    .homepageTitle {
      margin-top: clamp(50px, calc(50px + 5vw), 120px);
      line-height: 1.2;
      font-size: clamp(25px, calc(25px + 5vw), 70px);
      font-weight: bold;
      transition: ease-in all .5s;
      display: flex;
      flex-flow: row wrap;
    }

    .homepageSubtitle {
      max-width: 100%;
      font-size: clamp(12px, calc(12px + 5vw), 36px);
      transition: ease-in all .5s;

      .highlight, .toPortfolioLink {
        display: inline-block;
        font-size: clamp(12px, calc(12px + 5vw), 42px);
        margin-top: 15px;
        margin-left: clamp(0px, calc(0px + 2vw), 50px);
      }
    }
    .toPortfolio {
      padding: 50px 0 0 0;
      margin: clamp(0px, calc(0px + 5vw), 110px) 0 0 auto;
      font-size: clamp(12px, calc(12px + 5vw), 40px);
      transition: ease-in all .5s;
      @include fade-in('box', 1);
    }

    [class*="hide"] {
      opacity: 0;
    }
  }
}

.homepageContainer-light {
  background: $light-background-color;

  .homepageTitle {
    @include concavedTextLight($font-serif-slab, $logo-font-light-color);
    text-shadow: $light-selected-text-shadow;
  }

  .homepageSubtitle, .toPortfolio {
    @include concavedTextLight($font-serif-slab, $logo-font-light-color);
    text-shadow: $light-selected-text-shadow;

    .highlight, .toPortfolioLink {
      transition: all 0.5s ease-in;
      color: $logo-font-dark-color;
      text-shadow: $logo-dark-selected-text-shadow;
    }

    .toPortfolioLink:hover {
      color: $loading-light-blend-color;
    }
  }
}

.homepageContainer-dark {
  background: $dark-background-color;

  .homepageTitle {
    @include concavedTextDark($font-serif-slab, $logo-font-dark-color);
    text-shadow: $logo-dark-selected-text-shadow;
  }

  .homepageSubtitle, .toPortfolio {
    @include concavedTextDark($font-serif-slab, $logo-font-dark-color);
    text-shadow: $logo-dark-selected-text-shadow;

    .highlight, .toPortfolioLink {
      transition: all 0.5s ease-in;
      color: $logo-font-light-color;
      text-shadow: $light-selected-text-shadow;
    }

    .toPortfolioLink:hover {
      color: $button-dark-blend-color;
    }
  }
}
